@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}
.bg-tech {
    background: radial-gradient(circle at 30% 30%, rgba(34, 197, 94, 0.25), transparent 40%),
        radial-gradient(circle at 80% 60%, rgba(34, 197, 94, 0.25), transparent 40%),
        linear-gradient(120deg, #000000, #000000, #020202, #000000);
    background-size: 180% 180%;
    animation: techMove 8s ease-in-out infinite;
}

@keyframes techMove {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}